* {
    outline: none;
}

section.container {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50px;
    height: calc(100% - 80px);
}

ul.tool-list {
    padding: 5px 5px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: var(--global-shadow);
    background-color: var(--header-background);
    width: 40px;
    position: absolute;
    top: calc(50% - 205px);
}

h1.panel-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}

button.tool-item {
    width: 40px;
    height: 40px;
    background-color: var(--tool-item-background);
    cursor: pointer;
    overflow: hidden;
    border-radius: 7px;
    margin: 5px 0px;
    border: none;
    transition: 100ms linear; 
}
button.tool-item:hover {
    border-color: #222;
    background-color: var(--tool-item-hover-background)
}
button.tool-item-active {
    border-color: #222;
    background-color: #88888855;
}

button.tool-item:active {
    background-image: linear-gradient(-45deg,#393939,#1e1e1e);
    border-color: #333;
}
button.tool-item > * {
    width: 20px;
    height: 20px;
}