/*
 * PaintSpace ver. 3.0
 * Created By: Anderson Bucchianico
 *       Date: 20/feb/2021
*/

#comp-loadimage {
    display : flex;
    flex-wrap : wrap;
    row-gap  : 15px;
    padding : 5px;
}

.loadimage-input-container {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
}

#loadimage-input {
    display: none;
}

#loadimage-label-imgname {
    margin-left: 10px;
    height: 20px;
    overflow: hidden;
}

.preview-container {
    height: 200px;
    width: 200px;
    border: 1px dashed #555;
}

#preview-image {
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin:auto;
    background-color: transparent;
    border: dotted 2px #555;
}

.loadimage-button {
    border-radius: 5px;
    min-width: 95px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--tool-item-background);
    transition: all 100ms linear 0s;
}
.loadimage-button:hover {
    background-color: rgba(136, 136, 136, 0.333);
}
.disabled {
    color: #848484;
    opacity: 0.5;
    pointer-events: none;
}

.loadimage-img-m-container {
    width: 100%;
    height: auto;
    margin-left: 15px;
}

input#loadimage-input > * {
    background-color: red;
}

li.radio-item {
    display: flex;
    column-gap: 10px;
    margin: 5px 0px;
}