* {
    outline: none;
}

section.float-window {
    position: fixed;
    top: 33%;
    left: calc(50% - 256px);
    z-index: 100;
    min-width: 512px;
    min-height: 33%;
    border-radius: 1rem;
    background-color: var(--header-background);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px 0px #333;
    border: solid 1px #5a5a5a;
    padding-bottom: 2rem;
}

div.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    padding: 1.25rem;
}
div.header > hr {
    width: 100%
} 

span.window-title {
    font-size: 12pt;
    height: auto;
    display: flex;
    align-items: center;
    text-shadow: 0 0 0px black;
}

button.window-close {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--global-font-color);
    border: none;
    line-height: 15px;
    font-size: 12pt;
    cursor: pointer;
    padding: 0;
    border-radius: 6px;
}

button.window-close:hover {
    background: var(--tool-item-background);
}

/* Float window dynamic content === */

.config-container {
    padding: 5px;
}

.config-row {
    padding: 5px;
    display: flex;
    column-gap: 10px;
}

@media(max-width : 480px) {

    section.float-window {
        width: 100%;
        min-width: unset;
        left: 0;
    }
}