* {
    outline: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.33s;
    background-color: #000000a1;
    backdrop-filter: blur(5px);
}

section.float-window {
    position: fixed;
    top: 33%;
    left: calc(66% - 50%);
    z-index: 100;
    width: 66%;
    min-height: 33%;
    border-radius: 1rem;
    background-color: var(--header-background);
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 5px 0px #333;
}

div.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    padding: 1.5rem;
}
div.header > hr {
    width: 100%
} 

span.window-title {
    font-size: 12pt;
    height: auto;
    display: flex;
    align-items: center;
    text-shadow: 0 0 0px black;
}

button.window-close {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--global-font-color);
    border: none;
    line-height: 15px;
    font-size: 12pt;
    cursor: pointer;
    padding: 0;
}

button.window-close:hover {
    border: solid 1px white;
    border-radius: 5px;
}

.content {
    padding: 15px;
    color: #ddd;
}

/* Float window dynamic content === */

.config-container {
    padding: 5px;
}

.config-row {
    padding: 5px;
    display: flex;
    column-gap: 10px;
}