* {
    color: var(--global-font-color);
    outline: none;
}

section {
    display: grid;
    row-gap: 1rem;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

li {
    display: flex;
    margin: 10px 0;
    height: 20px;
    align-items: center;
}

label {
    width: 200px;
}

input[type='checkbox'] {
    background-color: var(--tool-option-background);
    border: none;
    padding: 0px 10px;
    height: 20px;
    border-radius: 3px;
}

select {
    background-color: var(--tool-item-background);
    border: none;
    padding: 4px 10px;
    border-radius: 3px;
    width: 45%;
}

button {
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--tool-item-background);
}