.canvas-wrapper {
    height: calc(100% - 60px);
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0
}

comp-preview {
    position: absolute;
    pointer-events: none;
}
