.canvas-wrapper {
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: -1;
}

comp-preview {
    position: absolute;
    pointer-events: none;
}