.canvas-wrapper {
    height: calc(100% - 60px);
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0
}

#tool-preview-overlay {
    position:relative;
    pointer-events: none;
    width: 1px;
    height: 1px;
    border: 1px solid #111;
    border-radius: 0px;

    display: none;
}

comp-preview {
    position: absolute;
    pointer-events: none;
    height: 480px;
    width: 600px;
}
