* {
    outline: none;
    color: var(--global-font-color);
}

section {
    display: grid;
    flex-wrap: wrap;
    row-gap: 15px;
    padding: 5px;
    justify-content: center;
}

div {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
}

#loadimage-input {
    display: none;
}

#label-imgname {
    margin-left: 10px;
    height: 20px;
    overflow: hidden;
}

.preview-container {
    height: 200px;
    width: 200px;
    border: 1px dashed #555;
}

#preview-image {
    min-height: 0px;
    max-height: 200px;
    width: 200px;
    object-fit: contain;
    margin:auto;
    background-color: transparent;
}

button {
    border-radius: 5px;
    min-width: 95px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--tool-item-background);
    transition: all 100ms linear 0s;
}
button:hover {
    background-color: rgba(136, 136, 136, 0.333);
}

.disabled {
    color: #848484;
    opacity: 0.5;
    pointer-events: none;
}

ul {
    width: 100%;
    height: auto;
    padding: 0;
}

input#loadimage-input > * {
    background-color: red;
}

li {
    display: flex;
    column-gap: 10px;
    margin: 5px 0px;
}