.tooloption-container {
    display: flex;
    align-items: center;
    min-width: 100px;
    font-family: Arial;
    font-weight: bold;
    padding-left: 10px;
    column-gap: 0.5rem;
}

.tooloption-container > label {
    font-size: 9pt;
    text-align: end;
}

button {
    width: 32px;
    height: 22px;
    border: none;
    background-image: url(/PaintSpace/media/image/color-picker.svg);
    background-color: var(--header-background);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: 55%;
    border-radius: 0.5rem;
    transition: 100ms linear;
    cursor: pointer;
    padding: 4px;
    margin-left: 5px;
}
button:hover {
    border-color: #222;
    background-color: #88888855;
}
button.tool-item-active {
    background-color: var(--tool-item-hover-background);
}

section {
    display: flex;
    column-gap: 20px;
}

.tooloption {
    width: 72px;
    height: 22px;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    border: none;
    display: flex;
    text-align: end;
    color: var(--tool-option-color);
    background-color: var(--header-background);
}

.tooloption[type='number']::-webkit-outer-spin-button,
.tooloption[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.tooloption[type='text'] {
    font-family: Arial;
    font-size: 12px;
    width: 100px;
}

span {
    display: flex;
    align-items: center;
}